@keyframes arrow-bounce {
  0% { translate: 10px 0; }
  30% { translate: -30px 0; }
  70% { translate: -30px 0; }
  100% { translate: 10px 0; }
}

@keyframes arrow-bounce-right {
  0% { translate: -10px 0; }
  30% { translate: 30px 0; }
  70% { translate: 30px 0; }
  100% { translate: -10px 0; }
}

@keyframes color-card {
  0% { background-color: #0a53be; filter: brightness(100%); scale: 1 }
  33% { background-color: #2554D6;  }
  50% { background-color: #2554D6; scale: 1.1 }
  70% { background-color: #2554D6 }
  100% { background-color: #0a53be; filter: brightness(100%); scale: 1 }
}

@keyframes fly-fade {
  0% { translate: 0 0; opacity: 1; }
  33% { translate: -5% -10%; opacity: 0.8  }
  50% { translate: 5% -20%; opacity: 0.5 }
  70% { translate: -5% -30%; opacity: 0.2 }
  100% { translate: 5% -40%; opacity: 0 }
}

@keyframes color-card-active {
  0% { background-color: #0a53be; scale: 1.3 }
  33% { background-color: #2554D6; }
  33% { background-color: #2554D6; scale: 1.4 }
  70% { background-color: #2554D6 }
  100% { background-color: #0a53be; scale: 1.3 }
}

@keyframes rotate-scale-up {
  0% {
    scale: 1;
    translate: 0 0;
    color: #FFF1A5;
    font-weight: inherit;
  }
  50% {
    scale: 1.7;
    translate: 0 -10px;
    font-weight: 900;
    color: #FFD600;
  }
  100% {
    scale: 1;
    translate: 0 0;
    color: #FFF1A5;
    font-weight: inherit;
  }
}

@keyframes rotate-scale-up-active {
  0% {
    scale: 1;
    font-weight: inherit;
  }
  50% {
    scale: 1.4;
    color: #FFD600;
  }
  100% {
    scale: 1.3;
    font-weight: inherit;
  }
}

@keyframes scale-disappear {
  0% { scale: 1; }
  100% { scale: 0; }
}

@keyframes scale-appear {
  0% { scale: 0; }
  100% { scale: 1; }
}

@keyframes hurt {
  0% { filter: none; }
  50% { filter: sepia(100%) saturate(10); }
  100% { filter: none; }
}


* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: #FFE663 #202C4D;
  letter-spacing: 1px;
}

body {
  background-color: #121724;
  font-family: "Noto Sans", sans-serif;
  color: #FFF1A5;
  letter-spacing: 1px;
}

button {
  background-color: #0a53be;
}

header {
  position: sticky;
  top: 0;
  z-index: 110;
  box-shadow: 0 2px 18px #12172433;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  background-color: #273C74;
  gap: 5px;
  padding: 1px 5px;
}

nav .brand {
  padding: 5px;
}

nav a:not(.brand) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  background-color: #FFF1A5;
  letter-spacing: 2px;
  font-weight: 900;
  color: #273C74;
  text-decoration: none;
  font-size: 20px;
}

.hidden {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  overflow: visible;
}

main > section:first-child {
  padding-top: 50px;
  display: flex;
  width: 70%;
  justify-content: center;
}

section .card {
  position: relative;
  background-color: #974700;
  width: calc(40% - 20px);
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 2px 0 10px #121724aa;
  z-index: 1;
}


.img-rank {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

section .card h2 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
}

.card + div {
  padding: 50px 0;
  width: 50%;
}

.card + div >h2 {
  text-align: right;
  width: 100%;
  letter-spacing: 3px;
  color: #FFD600;
  padding-bottom: 5px;
}

.card + div > div {
  padding: 20px 30px;
  background-color: #273C74;
}

.card + div > div:first-of-type {
  border-top-right-radius: 15px;
}

.card + div > div:last-of-type {
  border-bottom-right-radius: 15px;
}

.skills h3, .stats h3 {
  color: #E96E00;
  padding-bottom: 20px;
}

.skills > div, .stats > div {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;

  flex-wrap: wrap;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stats h3 {
  width: 100%;
}

.stats > div {
  margin-left: -23px;
  width: 50%;
  font-size: 13px;
}

.stats img {
  color: #974700;
}

.skills label {
  font-weight: bold;
}

.skills label + p > span {
  color: #FFD600;
  font-weight: 900;

}

.skills label + p {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.skills button {
  border: none;
  background: none;
  padding: 0 10px;
}

section:last-of-type{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  min-height: 200px;
  margin: 50px 0;
}

.mini-card{
  position: absolute;
  top: var(--slider--top, auto);
  left: var(--slider--left, auto);
  display: flex;
  justify-content: space-between;
  width: 15%;
  background-color: #0a53be;
  padding: 5px;
  border-radius: 5px;
  filter: brightness(var(--slider--brightness, 100%));
  font-size: 12px;
  min-height: 200px;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */

}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 50%;
  background: #FFD600;
  cursor: pointer;
}

input[type=range]:focus::-moz-range-thumb {
  background: #974700;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #FFF1A5;
  border-radius: 5px;
  border: none
}

.stat-label {
  display: flex;
  padding-left: 5px;
}

.stat-label p {
  color: #FFD600;
  padding-left: 5px;
}

.mini-card >.stat-left :first-child, .mini-card >.stat-right :first-child {
  color: #FFE663;
  font-weight: bolder;
  letter-spacing: 2px;
}

.arrow-left, .arrow-right, button {
  cursor: pointer;
  border: none;
  background: none;
}

.arrow-left, .arrow-right {
  padding: 18px;
}

.arrow-left:hover {
  animation-name: arrow-bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.arrow-right:hover {
  animation-name: arrow-bounce-right;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.point-bounce {
  animation-name: rotate-scale-up;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

form[name="soldier"]{
  display: flex;
  width: 100%;
  justify-content: center;
}

.start:first-child {
  flex-direction: column;
  align-items: center;
  gap: 3em;
  justify-content: space-evenly;
}

.title-start {
  position: relative;
}

.start-anim {
  animation-iteration-count: 1;
  animation-name: scale-disappear;
  animation-play-state: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-delay: 1s;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}
.start-anim-end {
  scale: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  animation-iteration-count: 1;
  animation-name: scale-appear;
  animation-play-state: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-delay: 1.2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.btn-emphasize {
  text-decoration: none;
  background-color: #FFD600;
  border-radius: 20px;
  padding: 74px 115px;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1;
  font-size: 2.5em;
  color: #273C74;
  font-weight: 900;
  letter-spacing: 12px;
}

.points-form {
  display: flex;
  flex-direction: column;
}

.btn-create {
  background-color: #2554D6;
  border-radius: 10px;
  padding: 15px 40px;
  color: #FFF1A5;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1em;
}

.btn-create:disabled {
  color: #273C74;
  opacity: .5;
  cursor: not-allowed;
}

.btn-secondary {
  background-color: #974700;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  color: #FFF1A5;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 1.2em;
  margin-top: 5px;
  width: 50%;
}

.btn-secondary:disabled {
  opacity: 50%;
  background-color: #974700;
  color: #121724;
  cursor: not-allowed;
}

.points-form > p {
  align-self: flex-end;
  display: flex;
  width: 100%;
  padding: 10px;
  gap: 10px;
}

#lobby {
  flex-direction: column;
  align-items: center;
}

#lobby > header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 63.5px;
  padding: 20px;
  background-color: #121724ee;
}

.lobby-table {
  width: 100%;
}

.line-lobby, .lobby-header{
  display: flex;
  background-color: #273C74;
  font-family: "Noto Mono", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  padding: 5px 10px 5px 20px;
  width: 100%;
  gap: 50px;
  justify-content: space-between;
}

.lobby-header {
  background-color: #FFF1A5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 10px 15px 20px;
}

.lobby-header p{
  width: 100%;
}

.line-lobby:nth-child(odd), .line-lobby:nth-child(odd) p, .lobby-header p {
  background-color: #FFF1A5;
  color: #401E00;
}

.line-lobby:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.line-lobby p{
  display: flex;
  align-items: center;
  width: 100%;
}

.justify-right {
  justify-content: right;
}

.line-lobby button {
  border-radius: 5px;
  color: #703500;
  background-color: #E96E00;
  padding: 10px 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

#lobby .field, dialog .field {
  display: flex;
  flex-flow: column-reverse;
}

label, input {
  transition: all 0.2s;
  touch-action: manipulation;
}


#lobby input, dialog input{
  font-size: 1em;
  border: none;
  border-radius: 10px;
  background-color: #FFF1A5;
  padding: 15px 20px;
  font-family: inherit;
  appearance: none;
  cursor: text;
  color: #E96E00;
}

button:focus, a:focus, a:active, input:focus, select:focus {
  outline: 3px solid #E96E00;
}

.btn-cancel:focus, .line-lobby button:focus {
  outline-color: #FFF1A5;
}

.line-lobby:nth-child(odd) button:focus {
  outline-color: #273C74;
}

#lobby label, dialog label {
  text-align: right;
  width: 100%;
  letter-spacing: 2px;
}

.select-group {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}


.select-group > select {
  padding: 15px 20px;
  border-radius: 10px;
  appearance: none;
  border: none;
  line-height: 1.3;
  font-family: "Noto Sans";
  letter-spacing: 1px;
  font-size: 1em;
  background-color: #FFF1A5;
  color: #E96E00;
}

input:placeholder-shown + label, select:placeholder-shown + label {
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(-20px, 2.125rem);
  color: #E96E00;

}

input::placeholder {
  opacity: 0;
  transition: inherit;
  text-align: right;
  color: #E96E0088;
}

input:focus::placeholder {
  opacity: 1;
}

input:not(:placeholder-shown) + label,
input:focus + label, select:not(:placeholder-shown) + label, select:focus + label {
  right: 0;
  transform: translate(0, 0) scale(1);
  cursor: pointer;
  color: #FFD600;
  transform-origin: left;
  scale: 0.7;
  text-align: left;
  translate: 0 -3px;
}

dialog {
  appearance: none;
  border-radius: 15px;
  border: none !important;
  box-shadow: 0 2px 18px #12172433;
  padding: 1.6rem;
  margin: auto;
  min-height: 50%;
}

dialog::backdrop {
  background-color: #12172499;
}

.modal {
  padding: 0;
  min-width: 600px;
  width: 50%;
  background-color: #202C4D;
  scrollbar-color: #FFE663 #202C4D;
  transition: scale 200ms;
  scale: 1;
}

.fade-out, .fade-out::backdrop {
  scale: 0;
}

.fade-in, .fade-in::backdrop {
  scale: 1;
}

.modal[open]{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal .title-modal {
  background-color: #273C74;
  width: 100%;
  color: #FFE663;
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 1em;
  text-align: center;
  padding: 20px;
  box-shadow: none;
}

.modal section {
  width: 100%;
  margin: 0;
  flex-direction: column;
  padding: 50px;
}

.fields, .btn-group {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.fields > *, .btn-group > * {
  width: 50%;
  flex-wrap: wrap;
}

.btn-cancel {
  background-color: #E96E00;
  border-radius: 10px;
  padding: 15px 40px;
  color: #FFF1A5;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1em;
  text-decoration: none;
}

.btn-minus:focus, .btn-plus:focus {
  outline: none;
}
.btn-minus:focus img, .btn-plus:focus img {
  border-bottom: 1px solid #FFF1A5;
  padding-bottom: 2px;
}

section.battlefield:first-child {
  position: relative;
  height: calc(100vh - 205px);
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/champ_bataille_carte.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-bottom: calc(100vw - 45%);
}

footer {
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
  width: 100%;
  background-color: #273C74;
  align-items: center;
  font-size: 1.2em;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

footer > div{
  max-width: calc(100%/3);
}

.small {
  padding: 10px;
  background-color: #202C4D;
  font-size: 0.5em;
}

.zone-texte {
  position: absolute;
  translate: -50% -50%;
  top: 50%;
  left: 50%;
  color: #202C4D;
  line-height: 2;
}

.battlefield > .zone {
  text-align: center;
  position: absolute;
  cursor: pointer;
  font-weight: bolder;
}

.HI_zone {
  bottom: 5%;
  right: 18%;
}

.LIBRARY_zone {
  bottom: 7%;
  left: 30%;
}

.BDE_zone {
  top: 25%;
  left: 22%;
}

.QA_zone {
  top: 29%;
  right: 30%;
}
.HS_zone {
  top: 5%;
  left: 2%;
}

.select-group.ai{
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
}



#slider-soldiers section {
  display: flex;
  flex-direction: row;
  width: 100%;
}


#slider-soldiers {
  width: 80%;
  position: relative;
}

#slider-soldiers.hidden {
  visibility: hidden;
}

.assign {
  box-shadow: 0 2px 18px #FFE663;
}

#slider-soldiers section {
  display: flex;
  justify-content: center;
}

#slider-soldiers section.soldier-action {
  flex-direction: column;
  color: #FFD600;
  text-align: center;
  align-items: center;
  gap: 20px
}

input[type="checkbox"]{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  height: 100%;
  width: 25px;
  background-color: #FFE663;
  left: 28%;
  border-radius: 5px;
}

.field:hover input ~ .checkmark {
  background-color: #FFD600;
}

.label-check:hover {
  cursor: pointer;
}

.field input:checked ~ .checkmark {
  background-color: #2554D6 ;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.field input:checked ~ .checkmark:after {
  display: block;
}

.field .checkmark:after {
  left: 9px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #FFD600;
  border-width: 0 3px 3px 0;
  rotate: 45deg;
}

.field {
  position: relative;
}

.hi > p {
  color: #FFE663 !important;
}

.mini-card:hover {
  animation-duration: 1s;
  animation-delay: 200ms;
  animation-iteration-count: infinite;
  animation-name: color-card;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.mini-card.active:hover {
  animation-duration: 1s;
  animation-delay: 200ms;
  animation-iteration-count: infinite;
  animation-name: color-card-active;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.active {
  scale: 1.3;
}

.mini-card.point-bounce {
  animation-name: rotate-scale-up-active;
  animation-fill-mode: both;
  animation-duration: 250ms;
}


.stats.hidden{
  display: none;
  position: absolute;
  left: -450%;
}

.pawn {
  position: absolute;
  z-index: 5;
}

.pawn:hover {
  z-index: 999;
}

.pawn:hover .stats.hidden{
  display: flex;
  background-color: #202C4D;
  padding: 10px;
  padding-left: 30px;
  width: 370px;
  border-radius: 10px;
}

.player1 img {
  scale: -1 1;
}

.progress-bar {
  width: 100%;
  height: 3px;
  background-color: #FFD600;
  margin-bottom: 2px;
}

.progress-bar .progress{
  background-color: #E96E00;
  height: 100%;
}

.player1 .progress{
  background-color: #2554D6;
}

.pawn.effect::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("/assets/images/icon_heal.svg");
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 100;
  left: 35%;
  top: -15%;
  animation: fly-fade 1s infinite ease;
}

.pawn.damage::before {
  background-image: url("/assets/images/icon_damage_2.svg");
}

.pawn.escape::before {
  background-image: url("/assets/images/icon_escape_2.svg");
}

.pawn.precision::before {
  background-image: url("/assets/images/icon_precision_2.svg");
}

.pawn.shield::before {
  background-image: url("/assets/images/icon_shield_2.svg");
}

.title-nav {
  width: 50%;
  text-align: center;
  align-self: center;
}

.first-nav {
  display: flex;
  gap: 5px
}

.other-nav {
  justify-content: space-between;
}